@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default;
 }

 @plugin "daisyui/theme" {
  name: "light";
  default: true;
 /* Brand */
  --color-primary: #ec4899;
  --color-secondary: #283747;
  --color-accent: oklch(72% 0.20 55);

  /* Base */
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0.01 95);
  --color-base-300: oklch(92% 0.015 95);

  /* Neutral */
  --color-neutral: oklch(35% 0.01 260);
  --color-neutral-content: oklch(96% 0 0);

  /* Feedback */
  --color-success: oklch(70% 0.17 145);
  --color-error: oklch(62% 0.24 28);
}

.my-text{
  @apply bg-gradient-to-r from-purple-500 via-pink-500 to-purple-400 bg-clip-text text-transparent
}

.my-bg{
   @apply bg-linear-to-r from-purple-500 to-pink-500
}

@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));